.logo {
  height: 150px;
}

.subtitle {
  font-style: italic;
  font-size: x-large;
  color: coral;
}

.featuredHouse {
  border-radius: 2px;
  background-color: rgb(255, 190, 166);
  margin-top: 20px;
}

.form-select {
  height: 40px;
  width: 300px;
}
