.navbar-bg {
  background-color: #83a4c4;
}

.navbar-nav {
  right: 0;
  padding-right: 15px;
}

.nav-link,
.navbar-nav {
  color: white !important;
}

.navbar-link,
.navbar-link:hover {
  text-decoration: none;
  color: black;
}

.text {
  font-size: 80px;
  font-weight: 400;
}

.hellotext {
  font-size: 20px;
}

.h2text {
  font-size: 38px;
  margin-top: 15px;
}

.btn.view:hover {
  background-color: #83a4c4;
}

@media (max-width: 575.98px) {
  .text {
    text-align: center;
    font-size: 45px;
  }

  .hellotext {
    text-align: center;
    font-size: 18px;
  }

  .h2text {
    font-size: 30px;
    margin-top: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .text {
    text-align: center;
    font-size: 55px;
  }

  .hellotext {
    text-align: center;
    font-size: 20px;
  }

  .h2text {
    font-size: 35px;
    margin-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .text {
    text-align: center;
    font-size: 70px;
  }
}
